*,
*:before,
*:after {
    box-sizing: border-box;
    }

html,
body {
    height: 100%;
    }

body {
    font-size: 16px;
    }

img {
    max-width: 100%;
    vertical-align: middle;
    }

button {
    cursor: pointer;
    }
