.scoreboard{
    text-align: center;
}

.memory-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    max-width: 1400px;
    min-height: 60vw;
}

.card{
    align-items: center;
    width: 9vw;
    height: 9vw;
    background: #F44336;

    transition:transform 0.5s;

    &__image {
        opacity: 0;
    }

    &--active {
        transform: rotateY(160deg);

        .card__image {
            opacity: 100;
        }
    }

    &--matched {
        .card__image {
            opacity: 100;
        }
    }
}

@media screen and (min-width: 1400px){
    .deck {
        min-height: 840px;
    }

    .card {
        width: 130px;
        height: 130px;
    }
}
